/*The first image of the parallaxing background*/
html,body
{
	margin:0;
	padding:0;
	height: 100%;
}

/*The holder for the first image on the landing page*/
.introContainer
{
	background:url("https://media.deseretdigital.com/file/8e53c70584?crop=top:0|left:0|width:1260|height:670|gravity:Center&quality=55&interlace=none&resize=width:1260&order=resize,crop&c=14&a=e0f131f0") no-repeat center center fixed;
	background-size: cover;
  	width: 100%; 
 	height: 100%;
}
.headerContainer
{
	position: absolute;
	text-align: center;
	bottom:45%;
	width: 100%;
}
/*The animation for the growing box on the landing page*/
.landingReveal
{
	position: relative;

	top:0%; bottom:0; left:36%;
	text-align: center;
	width: 28%;
	height:100%;
    border: solid black;
    animation: FirstReveal 1.5s;
}

@font-face {
font-family: "Dense-Regular";
src: url("fonts/Dense-Regular.otf");
}

.header
{
	text-align: center;
	font-size:1.5vw;
	text-align: center;
	color:black;
	animation: Font-grow 1.5s;
	font-family: Dense-Regular, bold;
	letter-spacing: 5px;

}



/*The container for my questions.*/
.questionContainer
{
	position: relative;
	text-align: center;
	margin-top:40vh;
	width: 100%;
}

/*The div styling for the first question*/
.questions
{
	color:black;
	font-size: 4vw;
	font-style: oblique;
	z-index: 1;
	font-family: Dense-Regular, bold;
	letter-spacing: 5px;

}
/*The container for my answers*/
.answerContainer
{
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	margin-top: -20vh;

}

/*The First question styling*/
.answers
{
	
	color:black;
	font-size: 2vw;
	margin-top: 35vh;
	font-family: sans-serif;
	line-height: 140%;
	z-index: 1;
	font-family: Dense-Regular, bold;
	letter-spacing: 5px;
}

/*The second background in the website*/
.backgroundTwo
{
	position: relative;
	width:100%;
	height: 150vh;
	margin: -40vh auto 0 auto;
	z-index: 98;
	background-size: cover;
	text-align: center;
	background-color: #336C99;
	z-index: 20;
}

.picContainer
{
	position: relative;
	display: inline-block;
	margin:0;
	margin-top:3vh;
}

#sacredGeoContainer
{
	position: relative;
	margin-top: -80vh;
}

/*The bone arch photo*/
#boneArchImg
{
	height: 40vh;
	width: 80vh;	
}

/*The photo of the boys at the lake*/
#threeBoysImg
{
	height: 40vh;
	width: 80vh;
}

#deathValleyImg
{
	height:60vh; 
	width:60vh;
}


.backgroundThree
{
	top:0px;
	width:100%;
	height:132vh;
	margin: 0 auto 0 auto;
	text-align: center;
	z-index:98;
  	position: relative;
	background: url(https://2017.slc.wordcamp.org/files/2017/07/cropped-salt-lake-city-485937-gradienty.jpg) no-repeat center center fixed;
	background-size: cover;
	text-align: center;
}

.backgroundFour
{
	position: relative;
	width:100%;
	height: 65vh;
	margin: -40vh auto 0 auto;
	z-index: 98;
	background-size: cover;
	text-align: center;
	background-color: #8D1414;
}

.backgroundFive
{
	margin: -40vh auto 0 auto;
	position: relative;
	z-index: 98;
	text-align: center;
	background:url(https://image.ibb.co/d1enBm/Three_Bois_In_ATree.png)center center fixed;
	height: 100%;
	width:100%;
}

.backgroundSix
{
	position: relative;
	width:100%;
	height: 65vh;
	margin: -40vh auto 0 auto;
	z-index: 98;
	background-size: cover;
	text-align: center;
	background-color: #ECA544;
}
/*Makes font grow for the header div*/
@keyframes Font-grow
{
	0%{font-size: 0vw;}
	50%{font-size: 0vw;}
	100%{font-size: 1.5vw;}
}

@keyframes FirstReveal
{
	0% {width:0%; height:0%;}
	50% {width:28%; height:0%;}
    100% {width:28%;height:100%;}
}
